<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subadmin Panel</title>
</head>
<body>
    <h1>Subadmin Panel Login</h1>
    <form action="/subadmin/login" method="POST">
        <input type="email" name="email" placeholder="Sub Admin Email Id"/>
        <input type="password" name="password" placeholder="Sub Admin Password"/>
        <input type="submit" value="Sub admin Login"/>
    </form>
    <a href="/subadminforgotpassword">Forgot Password</a>
</body>
</html>