<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin side</title>
</head>
<body>
    <h1>Super Admin work side</h1>
    <p>Here you can add items</p>
    <ul>
        <li><a href="/register">Create/Update items</a></li>
        <li><a href="/ordersadminside">Orders Taken</a></li>
        <li><a href="/entermailforfinaldelivery">Generate last verification code</a></li>
        <li><a href="/allitems">All reigstered items</a></li>
        <li><a href="/admincreatestore">Create a brand New Store</a></li>
        <li><a href="/adminstores">Your all franchise stores</a></li>
        <li><a href="/adminoffer">Create offer for user</a></li>
    </ul>
</body>
</html>