<%- include('header'); -%>

<div class="entermailforfinaldeliverycontainer">
    <h1>Code for Verification form</h1>
    <form method="POST" action="/deliveredconfiramtion">
        <input type="text" maxlength="6" minlength="6" name="otpcode" placeholder="Enter 6 digit number otp">
        <input type="submit" value="submit otp">
    </form>
</div>
<%- include('footer'); -%> 