<%- include('header'); -%>
<div class="entermailforfinaldeliverycontainer">
<h1>Enter mail id final delivery verification code</h1>
<form method="POST" action="/entermailforfinaldelivery">
<input type="text" name="orderid" placeholder="Enter Order Id">
<div class="checkbox">
<input type="checkbox"required>
<p>Please confirm mail before submitting</p>
</div>
<input type="submit" value="generateotp">
</form>
</div>
<%- include('footer'); -%>