<!-- footer section -->
<section class="footer">
    <ul class="footer-nav">
        <li>
            <a href=""><i class="fas fa-truck"></i>order now</a>
        </li>
        <li>
            <a href=""><i class="fab fa-github"></i>meet the developers</a>
        </li>
        <li>
            <a href=""><i class="fab fa-readme"></i>about us</a>
        </li>
    </ul>
    <ul class="footer-media">
        <li>
            <a href=""><i class="fab fa-instagram"></i>instagram</a>
        </li>
        <li>
            <a href=""><i class="fab fa-facebook"></i>facebook</a>
        </li>
        <li>
            <a href=""><i class="fab fa-twitter"></i>twitter</a>
        </li>
    </ul>
    <div class="footer-owner">
        <b style="display: block">aman pratap singh</b>
        <p>322/23/8019 0A Naka Gurdaspur Punjab</p>
        <a href="mailto:spider8019official@gmail.com">spider8019official@gmail.com</a>
    </div>
    <div class="footer-logo">
        <h2>PIZZA BOYS</h2>
    </div>
</section>
</body>

</html>