<!-- footer section -->
<section class="footer">
    <div class="footerFirstPart">
        <ul class="footer-nav">
            <li>
                <a href=""><i class="fab fa-readme"></i>about us</a>
            </li>
            <li>
                <a href=""><i class="fab fa-readme"></i>Nearby Stores</a>
            </li>
            <li>
                <a href="/search"><i class="fas fa-truck"></i>order now</a>
            </li>
            <li>
                <a href=""><i class="fab fa-github"></i>meet the developers</a>
            </li>
        </ul>
        <ul class="footer-media">
            <li>
                <a href=""><i class="fab fa-instagram"></i>instagram</a>
            </li>
            <li>
                <a href=""><i class="fab fa-facebook"></i>facebook</a>
            </li>
            <li>
                <a href=""><i class="fab fa-twitter"></i>twitter</a>
            </li>
        </ul>
        <div class="footer-owner">
            <b style="display: block">Bharat Panchal</b>
            <p>322/23/8019 0A Ahemdabad Gujarat</p>
            <a href="mailto:spider8019official@gmail.com">spider8019official@gmail.com</a>
        </div>
        <div class="footer-logo">
            <img src="/images/Without Shadow.png" alt="footer brand logo"/>
        </div>
    </div>
    <div class="footerSecondPart">

        <p>We are accepting 28 gateways for payment transfer.</p>
        <div class="paymentoptions">
            <img style="height:1.5rem;width:5rem;object-fit:contain;" src="/images/gpay.png" alt="gpay icon"/>
            <img style="height:1.5rem;width:5rem;object-fit:contain;" src="/images/visa.png" alt="gpay icon"/>
            <img style="height:1.5rem;width:5rem;object-fit:contain;" src="/images/ppay.png" alt="gpay icon"/>
            <img style="height:1.5rem;width:5rem;object-fit:contain;" src="/images/bhim.png" alt="gpay icon"/>
            <img style="height:1.5rem;width:5rem;object-fit:contain;" src="/images/mcar.png" alt="gpay icon"/>
            <img style="height:1.5rem;width:5rem;object-fit:contain;" src="/images/jiom.png" alt="gpay icon"/>
        </div>
        <p>Copyright © 2021, Woodie Jhones Inc.
            Our Terms & Conditions and Privacy Policy</p>
    </div>

</section>
<section class="footerLg">
</section>
<!-- axios cdn link -->
<script>
    document.cookie="city=Faizabad;"
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>