<%- include("header") -%>
<div class="forgotpassContainer">
    <div class="forgetpasswordform" method="POST"action="/forgetpassword">
        <p>RECOVER PASSWORD</p>
        <input type="email"id="email"  placeholder="Enter a valid mail" required>
        <button id="sendforgetpasswordlink">Send Link</button>
        <p id="forgetpassresponsemessage"></p>
    </div>
    
</div>
<script>
$(document).ready(function () {
    
    $("#sendforgetpasswordlink").click(function () {
        $.ajax({
            url: '/forgetpassword',
            data: { email: $("#email").val() },
            type: 'post',
            dataType: "html",
            success: function (data) {
                   $("#forgetpassresponsemessage").html(data)
            },
            error: function (xhr, status, error) {
                alert('Error: ' + error.message);
            },
        });
    })
});


</script>
<%- include("footer") -%>