<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon  -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- jquery cdn link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- font aweosome -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
     <!-- animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- bootstrap cdn -->
    <!-- title -->
    <title> Woodie Jhones - Gujarat</title>
</head>


<body>
    <!-- navigation bar -->
    <section class="order-header">
        <img class="header_brand" style="width:5rem" src="/images/Without Shadow.png" alt="header brand logo"/>
        <ul>
            <li><a href="/#offers">Offers</a></li>
            <li><a href="">about us</a></li>
            <li><a href="/newitems">new items</a></li>
            <li><a href="/profile">Your Profile</a></li>
        </ul>
        <div class="bars">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </section>