<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon  -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" href="styles.css">
    <title>Login - Pizza Boys</title>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <h1 class="loginSignHeading">PIZZA BOYS</h1>
    <div class="loginSignContainer">
        <h1 class="loginSignContainerHeading animate__animated animate__flipInY">stay foodie</h1>
        <div class="loginSign">
            <div class="loginSignContent">
                <h1>Login ipsum dolor.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat obcaecati quae et illum itaque a
                    adipisci quo, iusto, rem cupiditate sequi voluptatum possimus
                    excepturi minus consequuntur molestiae. Magni alias eligendi laborum explicabo vitae<i
                        class='fas fa-pepper-hot'></i>
                </p>
                <b>spiDer8019</b>
            </div>
            <div class="loginSignFormDiv">

                <p>Login</p>
                <form class="loginSignForm" action="/login" method="POST">

                    <input type="email" name="emailLogin" placeholder="email" required>
                    <input type="password" name="passwordLogin" placeholder="password" minlength=8 required>
                    <input data-loading-text="Loging..." type="submit" value="Login">
                    
                </form>
                <div class="loginHelpLink">
                    <p>Don't have account?<br><a href="/signup">Signup</a></p>
                    <p>Need Help?<br> <a href="/forgetpassword">Forget Password</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="loginSignContainerFooter">
        <ul>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
    </section>

</body>

</html>