<%- include("header"); -%>
<div class="resetpasswordcontainer">
    <div id="resetform">
       <h1>Please set your password !!!</h1>
       <form method="POST" action="/resetpasswordaccount">
            <input type="text"id="resetpasswordvalue"  style="display:none;" value="<%= email %> ">
            <input type="password" id="resetpassone" minlength="8" name="resetpassone" placeholder="Password" required>
            <input type="password" id="resetpasstwo"  minlength="8" placeholder="Re-type the password" name="resetpasstwo" required>
            <button id="resetpassword">RESET PASSWORD</button>
       </form>
    </div>
</div>
<script>
$(document).ready(function () {
    $('#resetpasstwo').keyup(function(){
        if($("#resetpasstwo").val()!="" && $("#resetpasstwo").val()==$("#resetpassone").val()){
            $("#resetform").css({"border-width":"3px","border-style":"solid","border-color":"lime"})
            $("#resetpassword").css({"pointer-events":"auto","background":"rgb(110,7,7)","cursor":"pointer"})
        }
        else {
        $("#resetform").css({ "border-width": "3px", "border-style": "solid", "border-color": "red" })
        $("#resetpassword").css({ "pointer-events": "none", "background": "rgb(110,7,7,0.5)","cursor":"not-allowed" })
      }
    
    })
    $('#resetpassone').keyup(function () {
        if ($("#resetpasstwo").val() != "" && $("#resetpasstwo").val() == $("#resetpassone").val()) {
            $("#resetform").css({ "border-width": "3px", "border-style": "solid", "border-color": "lime" })
            $("#resetpassword").css({ "pointer-events": "auto", "background": "rgb(110,7,7)" })
        }
        else {
            $("#resetform").css({ "border-width": "3px", "border-style": "solid", "border-color": "red" })
            $("#resetpassword").css({ "pointer-events": "none", "background": "rgb(110,7,7,0.5)"})
        }

    })
});
</script>
<%- include("footer"); -%>