<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hooray!! - Spider8019</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="successContainer">
        <div class="successDiv">
            <h1>Hooray!!</h1>
            <p>Thanks for placing your order with us!<br/>
            <span style="color:var(--clr-light);">To know the status of your order. Click on Your Orders button on your profile page</span>
            </p>
            <a href="/profile" onclick="(e)=>{conetti.reset()}">Go to profile</a>
        </div>
    </div>

</body>
</html>